@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    /* box-sizing: border-box; */
    font-family: 'Kanit', sans-serif;
    background-color: #F0EEEB;
    margin: 0;
}

.content{
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.content p{
    color: #E7BD4F;
    text-shadow: 1px 1px black;
    font-size: 20pt;
}

.changechar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.changechar img{
    width: 40%;
}
.btnleft{
    background-color: #E7BD4F;
    border: none;
    color: #FB4D44;
    text-align: center;
    text-decoration: none;
    font-size: 18pt;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 40px;
    z-index: 5;
}
.btnright{
    background-color: #E7BD4F;
    border: none;
    color: #FB4D44;
    text-align: center;
    text-decoration: none;
    font-size: 18pt;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 40px;
}
.btnright:hover{
    background-color: #8A69D4;
    color: #E7BD4F;
}
.btnleft:hover{
    background-color: #8A69D4;
    color: #E7BD4F;
}

.btnsave{
    background-color: #00C69F;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18pt;
    font-family: 'Kanit', sans-serif;
    /* margin: 20px 2px; */
    cursor: pointer;
    border-radius: 10px;
}
.btnsave:hover{
    background-color: #8A69D4;
}

input[type=text]{
    width: 300px;
    padding: 12px 20px;
    margin: 30px;
    display: inline-block;
    border: 2px solid #E7BD4F;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 14pt;
    font-family: 'Kanit', sans-serif;
    text-align: center;
  }

.pic {
    display: none;
    text-align: center;
}
.pic img{
    width: 300px;
}
.pic:nth-child(1) {
    display: block;
}

@media only screen and (max-width: 600px){
    .pic img{
        width: 180px;
    }
    input[type=text]{
        width: 200px;
    }
    body{
        overflow-x: hidden;
    }
    .btnleft{
        margin: 0 20px;
        width: 40px;
        height: 40px;
        font-size: 15pt;
    }
    .btnright{
        margin: 0 20px;
        width: 40px;
        height: 40px;
        font-size: 15pt;
    }
}