@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    /* box-sizing: border-box; */
    font-family: 'Kanit', sans-serif;
    background-color: #F0EEEB;
    margin: 0;
}

.content{
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.content p{
    color: #E7BD4F;
    text-shadow: 1px 1px black;
    font-size: 20pt;
}

input[type=text]{
    width: 20%;
    padding: 12px 20px;
    margin: 30px;
    display: inline-block;
    border: 2px solid #E7BD4F;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 14pt;
    font-family: 'Kanit', sans-serif;
    text-align: center;
  }
.pic {
    display: none;
    text-align: center;
}
.pic img{
    width: 300px;
}
.pic:nth-child(1) {
    display: block;
}

nav {
    /* Navbar */
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    position: fixed;
  }
  .menu{
    align-items: center;
    text-align: center;
    display: flex;
    /* justify-content: center; */
    flex-grow: 1;
  }

  .menu1{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }

  .menu img{
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    text-align: center;
    padding: 2vw 2vw;
    width: 200px;
  }

  .menu1 i{
    /* padding: 2vw 2vw; */
    font-size: 26pt;
  }

.btnplay{
    background-color: #747474;
    border: none;
    color: white;
    padding: 5px 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20pt;
    font-family: 'Kanit', sans-serif;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.btnplay:hover{
    background-color: #515151;
}
.joinfriend{
    display: flex;
    align-items: flex-end;
    text-align: center;
    justify-content: center;
    margin-top: 0px;
}
#score{
    font-size: 15pt;
    color: #FB4D44;
    font-family: 'Kanit', sans-serif;
}
.btnjoinwith{
    background-color: #F88DD5;
    border: none;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18pt;
    font-family: 'Kanit', sans-serif;
    margin: 12px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.btnjoinwith:hover{
    background-color: #d174b2;
}
.joinfriend input{
    width: 50%;
    margin: 10px;
    border-radius: 10px;
}
.btnlogout{
    background-color: #8A69D4;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    font-family: 'Kanit', sans-serif;
    margin: 0px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.btnlogoutph{
    display: none !important;
    background-color: transparent;
    border: none;
    color: #8A69D4;
    /* padding: 5px 20px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28pt;
    font-family: 'Kanit', sans-serif;
    /* margin: 0px 20px; */
    cursor: pointer;
    border-radius: 10px;
}

.btnlogout:hover{
    background-color: #747474;
}
.btnlogoutph:hover{
    color: #747474;
}

.username p{
    font-size: 15pt;
    margin: 10;
    color: black;
    background-color: #E7BD4F;
    text-shadow: 0px 0px;
    border-radius: 20px;
    text-align: center;
    padding: 5px 50px;
}

@media only screen and (max-width: 600px){
    .pic img{
        width: 180px;
    }
    /* input[type=text]{
        width: 150px;
    } */
    body{
        overflow-x: hidden;
    }
    .btnlogoutph{
        display: block !important;
    }
    .btnlogout{
        display: none;
    }
}