@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    /* box-sizing: border-box; */
    font-family: 'Kanit', sans-serif;
    background-color: #F0EEEB;
    margin: 0;
}

.content{
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content p{
    color: #E7BD4F;
    text-shadow: 1px 1px black;
    font-size: 20pt;
}

.changechar{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.changechar img{
    width: 40%;
}
.btnleft{
    background-color: #E7BD4F;
    border: none;
    color: #FB4D44;
    text-align: center;
    text-decoration: none;
    font-size: 1.8vw;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
    border-radius: 50%;
    width: 3.5vw;
    height: 3.5vw;
    margin: 0 40px;
    z-index: 5;
}
.btnright{
    background-color: #E7BD4F;
    border: none;
    color: #FB4D44;
    text-align: center;
    text-decoration: none;
    font-size: 1.8vw;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
    border-radius: 50%;
    width: 3.5vw;
    height: 3.5vw;
    margin: 0 40px;
}
.btnright:hover{
    background-color: #8A69D4;
    color: #E7BD4F;
}
.btnleft:hover{
    background-color: #8A69D4;
    color: #E7BD4F;
}

.btnsave{
    background-color: #00C69F;
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18pt;
    font-family: 'Kanit', sans-serif;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.btnsave:hover{
    background-color: #8A69D4;
}

input[type=text]{
    width: 20%;
    padding: 12px 20px;
    margin: 30px;
    display: inline-block;
    border: 2px solid #E7BD4F;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 14pt;
    font-family: 'Kanit', sans-serif;
    text-align: center;
  }

.pic {
    display: none;
    text-align: center;
}
.pic img{
    width: 18vw;
}
.pic:nth-child(1) {
    display: block;
}

/*menu*/
nav {
    /* Navbar */
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    position: fixed;
  }
  .menu{
    align-items: center;
    text-align: center;
    display: flex;
    /* justify-content: center; */
    flex-grow: 1;
  }

  .menu1{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }

  .menu img{
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    text-align: center;
    padding: 2vw 2vw;
    width: 10vw;
  }

  .menu1 i{
    padding: 2vw 2vw;
    font-size: 3vw;
  }

.btnplay{
    background-color: #F88DD5;
    border: none;
    color: white;
    padding: 5px 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20pt;
    font-family: 'Kanit', sans-serif;
    margin: 50px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.btnlogout{
    background-color: #8A69D4;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    font-family: 'Kanit', sans-serif;
    margin: 0px 20px;
    cursor: pointer;
    border-radius: 10px;
}

.username p{
    font-size: 1.5vw;
    margin: 10;
    color: black;
    background-color: #E7BD4F;
    text-shadow: 0px 0px;
    border-radius: 20px;
    text-align: center;
    padding: 5px 50px;
}

/*waiting*/

.logo img{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2vw 2vw;
    width: 10vw;
  }

.btnback{
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 2.8vw;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
    border-radius: 50%;
    z-index: 5;
}

.back{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 0 0 0 2vw;
    flex: 1;
}
.match{
    display: flex;
    width: 100%;
    /* height: 100%; */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.playerone{
    flex: 3;
    display: flex;
    justify-content: flex-end;
    padding: 0 5vw;
    flex-direction: column;
}
.playertwo{
    flex: 3;
    display: flex;
    justify-content: flex-start;
    padding: 0 5vw;
    flex-direction: column;
}
.vs{
    flex: 1;
    font-size: 6.5vw;
    font-family: 'Kanit', sans-serif;
    color: #FB4D44;
    
}

.buttonjoin{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 10%;
    padding-top: 8%;
}

.btnjoin-x{
    background-color: #E7BD4F;
    border: none;
    color: white;
    padding: 6px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    font-family: 'Kanit', sans-serif;
    margin: 20px 10px;
    cursor: pointer;
    border-radius: 30px;
    /* flex: 1; */
}

.btncancel-x{
    background-color: #747474;
    border: none;
    color: white;
    padding: 6px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    font-family: 'Kanit', sans-serif;
    margin: 20px 10px;
    cursor: pointer;
    border-radius: 30px;
    /* flex: 1; */
}

.btnjoin-o{
    background-color: #E7BD4F;
    border: none;
    color: white;
    padding: 6px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    font-family: 'Kanit', sans-serif;
    margin: 20px 10px;
    cursor: default;
    border-radius: 30px;
    opacity: 0;
}

.btncancel-o{
    background-color: #747474;
    border: none;
    color: white;
    padding: 6px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    font-family: 'Kanit', sans-serif;
    margin: 20px 10px;
    cursor: default;
    border-radius: 30px;
    opacity: 0;
}

.btnback a{
    text-decoration: none;
    color: black;
}

.starts{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btnstart{
    background-color: #00C69F;
    border: none;
    color: white;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25pt;
    font-family: 'Kanit', sans-serif;
    margin: 50px 2px;
    cursor: pointer;
    border-radius: 50px;
}

.ready{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20pt;
    padding: 50px 0 20px 0;
    font-weight: bold;
}
.playerone .pic{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.playertwo .pic{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.playerone .pic img{
    width: 15vw;
}
.playertwo .pic img{
    width: 15vw;
}
.username-x div{
    font-size: 1.7vw;
    margin: -20px;
    color: black;
    background-color: #F88DD5;
    text-shadow: 0px 0px;
    border-radius: 5px;
    text-align: center;
    padding: 3px 1px;
    width: 40%;
}
.username-x{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.username-o div{
    font-size: 1.7vw;
    margin: -20px;
    color: black;
    background-color: #F88DD5;
    text-shadow: 0px 0px;
    border-radius: 5px;
    text-align: center;
    padding: 3px 1px;
    width: 40%;
}
.username-o{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.btnjoin-x.disabled{
    background-color: #e9d39c;
    cursor: default;
}

.btncancel-x.disabledd{
    background-color: #b3b3b3;
    cursor: default;
}