@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    /* box-sizing: border-box; */
    font-family: 'Kanit', sans-serif !important;
    background-color: #F0EEEB !important;
    margin: 0;
}

.content{
    display: flex;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content p{
    color: #E7BD4F;
    text-shadow: 1px 1px black;
    font-size: 20pt;
}

nav {
    /* Navbar */
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    position: fixed;
  }



.logo img{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2vw 2vw;
    width: 200px;
  }

.btnback{
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 2.8vw;
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
    border-radius: 50%;
    z-index: 5;
}

.back{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 0 0 0 2vw;
    flex: 1;
}
.match{
    display: flex;
    width: 100%;
    /* height: 100%; */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.playerone{
    flex: 3;
    display: flex;
    justify-content: flex-end;
    padding: 0 5vw;
    flex-direction: column;
}
.playertwo{
    flex: 3;
    display: flex;
    justify-content: flex-start;
    padding: 0 5vw;
    flex-direction: column;
}
.vs{
    /* flex: 1; */
    font-size: 72pt;
    font-family: 'Kanit', sans-serif;
    color: #FB4D44;
    
}

.buttonjoin{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 10%;
    padding-top: 8%;
}

.btnjoin-x{
    background-color: #E7BD4F;
    border: none;
    color: white;
    padding: 6px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    font-family: 'Kanit', sans-serif;
    margin: 20px 10px;
    cursor: pointer;
    border-radius: 30px;
    /* flex: 1; */
}

.btncancel-x{
    background-color: #747474;
    border: none;
    color: white;
    padding: 6px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    font-family: 'Kanit', sans-serif;
    margin: 20px 10px;
    cursor: pointer;
    border-radius: 30px;
    /* flex: 1; */
}

.btnjoin-o{
    background-color: #E7BD4F;
    border: none;
    color: white;
    padding: 6px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    font-family: 'Kanit', sans-serif;
    margin: 20px 10px;
    cursor: default;
    border-radius: 30px;
    opacity: 0;
}

.btncancel-o{
    background-color: #747474;
    border: none;
    color: white;
    padding: 6px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14pt;
    font-family: 'Kanit', sans-serif;
    margin: 20px 10px;
    cursor: default;
    border-radius: 30px;
    opacity: 0;
}

.btnback a{
    text-decoration: none;
    color: black;
}

.starts{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btnstart{
    background-color: #00C69F;
    border: none;
    color: white;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25pt;
    font-family: 'Kanit', sans-serif;
    margin: 50px 2px;
    cursor: pointer;
    border-radius: 50px;
}

.ready{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18pt;
    padding: 50px 0 20px 0;
    font-weight: bold;
}


.playerone .pic{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.playertwo .pic{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.playerone .pic img{
    width: 15vw;
}
.playertwo .pic img{
    width: 15vw;
}
.username-x div{
    font-size: 1.7vw;
    margin: -20px;
    color: black;
    background-color: #F88DD5;
    text-shadow: 0px 0px;
    border-radius: 5px;
    text-align: center;
    padding: 3px 1px;
    width: 40%;
}
.username-x{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.username-o div{
    font-size: 1.7vw;
    margin: -20px;
    color: black;
    background-color: #F88DD5;
    text-shadow: 0px 0px;
    border-radius: 5px;
    text-align: center;
    padding: 3px 1px;
    width: 40%;
}
.username-o{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.btnjoin-x.disabled{
    background-color: #e9d39c;
    cursor: default;
}

.btncancel-x.disabledd{
    background-color: #b3b3b3;
    cursor: default;
}
.btnjoin-o.disabled{
    background-color: #e9d39c;
    cursor: default;
}

.btncancel-o.disabledd{
    background-color: #b3b3b3;
    cursor: default;
}
#readyjoino{
    display: none;
}

/* Popup Code */
.bgpopup{
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
 
}
.popuocode{
    width: 45vw;
    height: 20vW;
    background-color: #FFFFFF;
    border-radius: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    border: #E7BD4F solid 8px;
    flex-direction: column;
    
}
.popuocodename{
    width: 20vw;
    height: 5vW;
    background-color: #8A69D4;
    color: #FFFFFF;
    z-index: 2;
    position: relative;
    border-radius: 10px;
    margin-top: -40px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;

}

.closepopupcode img{
    width: 2vw;
    cursor: pointer;
}
.popup-content{
    display: flex;
   flex-wrap: wrap;
   flex: 3;
   justify-content: center;
   padding-left: 8vw;
   padding-top: 1vw;

}

.popupheader{
    width: 45vw;
    height: 20vW;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
  
}

.code{
    height: 40vw;
    text-align: center;
    width: 45vw;
    font-size: 5vw;
    font-weight: bold;
}

#invite{
    cursor: pointer;
}

#btn-startgame.disabled{
    background-color: #a6bbb6;
    cursor: default;
}

@media only screen and (max-width: 800px){
    .vs{
        font-size: 40pt;
        margin: 10px 0;
    }
    nav{
        height: 5%;
    }
    .logo img{
        width: 100px;
    }
    /* .content{
        padding-top: 10vw;
    } */
    .playerone .pic img{
        width: 100px !important;
    }
    .playertwo .pic img{
        width: 100px !important;
    }
    .buttonjoin{
        padding-top: 0%;
    }
    .ready {
        font-size: 14pt;
        padding: 12px 0 12px 0;
    }
    .btnstart {
        font-size: 18pt;
    }
    .username-x div {
        font-size: 12pt;
        width: 120px;
        padding: 0;
    }
    .username-o div {
        font-size: 12pt;
        width: 120px;
        padding: 0;
    }
    .btncancel-o{
        font-size: 10pt;
        padding: 6px 30px;
    }
    .btncancel-x{
        font-size: 10pt;
        padding: 6px 30px;
    }
    .btnjoin-o{
        font-size: 10pt;
        padding: 6px 30px;
    }
    .btnjoin-x{
        font-size: 10pt;
        padding: 6px 30px;
    }
    .btnstart{
        margin: 10px 2px;
    }
    .popuocode {
        height: 30vw;
        border-radius: 20px;
        border: #E7BD4F solid 4px;
    }
    .popuocodename {
        width: 20vw;
        height: 9vw;
        margin-top: -18px;
        font-size: 6vw;
    }
    .popup-content {
        padding-left: 0vw;
    }
    .code {
        height: 40vw;
        width: 45vw;
        font-size: 9vw;
    }
    .closepopupcode img {
        width: 5vw;
    }
}
